<!-- FILEPATH: /Users/gameyp/Desktop/SWE/Week1/HRLeaveRequest/templates/loginPage.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form action="/dashboardPage" method="GET">
        <label for="username">email:</label>
        <input type="text" id="email" disabled>
        <br>
        <label for="password">username:</label>
        <input type="password" id="username" disabled>
        <br>
        <label for="password">password:</label>
        <input type="password" id="password" disabled>
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
